<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="urlApiColas" value="http://microservi1-srv.campero.com/ApiConfiguracionColasRabbitMq/api/ConfiguracionColas" />    
    <add key="apiConexionDB" value="http://microservi1-srv.campero.com/ApiRCAConfiguracion/api/RcaBaseDatos/ObtenerCadenadeConexion" />
    <add key="nombreServicio" value="ServBoHExtInventarioTrasladoSS" />
    <add key="servicioDestino" value="ServDwCarStockMateriales" />
    <add key="conexionDB" value="BOH_RYR" />
	<add key="conexionDB2" value="DW_GT" />
    <add key="correo" value="" />
	<add key="idMenu" value="75" />
	<add key="ambiente" value="35" />
	<add key="directorioBitacoraErrores" value=""/>
  </appSettings>
</configuration>