name: build

on: 
  pull_request:
    types:
      - opened
    branches:
      - main
  push:
    branches:
      - main # main
      - 'dev*' # developer dev-new developerback
    # paths-ignore:
    #   - '.github/workflow/*'
env:
  DOTNET_VERSION: '6.0.402' # The .NET SDK version to use

jobs:
  build:
    runs-on: self-hosted-cmi
    name: build
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget
      - name: Install dependencies
        run: |
          dotnet restore
      - name: Build
        run: dotnet build ServBoHExtInventarioTrasladoSS.sln --configuration Debug --no-restore
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-files
          path: |
            ServBoHExtInventarioTrasladoSS/bin/Debug/net6.0        

  test:
    needs: build
    runs-on: self-hosted-cmi
    name: test
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - name: Install dependencies
        run: |
          dotnet restore
      - name: test dotnet
        run: dotnet test --logger trx --results-directory "TestResults-${{ env.DOTNET_VERSION }}"
      - name: Upload dotnet test results
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-results-${{ env.DOTNET_VERSION }}
          path: TestResults-${{ env.DOTNET_VERSION }}
        if: ${{ always() }}